---
import Layout from "../layouts/Layout.astro";
import { FaEnvelope, FaGithub } from "react-icons/fa";

const intro =
  "Software engineer driven by curiosity, passionate about minimizing redundancy using code to solve problems. I work on the front-end, back-end, and all stuff in between. Let's build something together.";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-white text-xl font-sans">Hey,</h1>
    <h1 class="text-white">I'm</h1>
    <h1
      class="font-black text-transparent bg-clip-text bg-gradient-to-br from-orange-400 to-orange-700 text-5xl"
    >
      Devinda Senanayake
    </h1>

    <div class="bg-slate-800 rounded p-4">
      <p class="text-white">
        {intro}
      </p>
    </div>
    <div class="flex space-x-2 text-white">
      <div class="bg-orange-500 p-2 rounded">Resume</div>
      <FaEnvelope className="h-7 w-7 flex-no-shrink fill-current" fill="none" />
      <FaGithub className="h-7 w-7 flex-no-shrink fill-current" fill="none" />
    </div>
  </main>
</Layout>
