---
import { Image } from "astro:assets";
import Skill from "./Skill.astro";

export interface Props {
  title: string;
  description: string;
  skills: string[];
  slug: string;
  cover: string;
}

const { description, skills, title, slug } = Astro.props;
const cover = import.meta.env.DEV
  ? "https://source.unsplash.com/random/600/?landscape"
  : Astro.props.cover;
---

<a href={"projects/" + slug} rel="prefetch">
  <div class="bg-gray-700 rounded-lg min-w-full flex flex-col h-full">
    <div class="aspect-h-3 aspect-w-4">
      <Image
        src={cover}
        alt="placeholder"
        class="min-w-full rounded rounded-b-none object-cover"
        width={1080}
      />
    </div>
    <div class="px-6 flex flex-col justify-between space-y-4 py-4 h-full">
      <div>
        <h2 class="text-white text-xl font-semibold font-title tracking-wide">
          {title}
        </h2>
        <p class="text-slate-200 font-thin">{description}</p>
      </div>
      <div class="flex space-x-2">
        {skills.map((skill) => <Skill title={skill} size="small" />)}
      </div>
    </div>
  </div>
</a>
